/* 共通部分 */
html {
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header部分 */
header {
    width: 100%;
    height: 55px;
    background-color: #3ebfff;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
}

header a {
    color: white;
}

/* main部分 */
main {
    margin: 0 20px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    flex: 1;
}

.about {
    width: 100%;
}

.canvas {
    width: 100%;
    display: flex;
    justify-content: center;
}

#canvas1 {
    border: 1px solid;
    margin: 5px;
    width: 50%;
}

#canvas2 {
    border:1px solid;
    margin: 5px;
    width: 50%;
}

#image-button {
    margin-top: 20px;
    width: 100px;
    height: 30px;
    background-color: #3ebfff;
    border: none;
    border-radius: 5px;
    color: white;
    box-shadow: 0 4px #d8d8d8;
    cursor: pointer;
}

#image-button:active {
    /* cursor: pointer; */
    box-shadow: none;
    position: relative;
    top: 4px;
}

input {
    display: none;
}

.form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#ascii-area {
    margin-bottom: 20px;
    font-size: 10px;
    width: 250%;
    height: 500px;
    transform: scale(0.4);
}

/* footer部分 */
footer {
    width: 100%;
    height: 55px;
    background-color: rgb(79, 79, 99);
}

@media screen and (max-width: 800px){
    .canvas{
        flex-direction: column;   
    }
    #canvas1{
        width: 100%;
    }
    #canvas2{
        width: 100%;
    }
}